<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Turboil — магазин автосмазок</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href="/styles/site.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />

    {{!-- This file provides the default styling for the KeystoneJS Content Editor
      - only renders when user is logged in and admin--}}
    {{{isAdminEditorCSS user}}}

    {{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //- Safely remove this block if you are not targeting IE8 --}}
    <!--[if lt IE 9]>
      <script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
      <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/js/jquery/jquery-1.11.3.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="/js/adapter.js"></script>

  </head>
  <body>
    <div id="header">
      <div class="container">
        <div role="navigation" class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
              </button>
              <a href="/" class="navbar-brand">
                <img class='logo--img' src="/images/logo.jpeg" alt="Idemitsu" />
              </a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-left">
                {{# each navLinks}}
                  <li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
                    <a href="{{ href }}">{{ label }}</a>
                  </li>
                {{/each}}
                <li class="search-bar">
                  <form class="input-group" action='pricelist' method='GET'>
                    <span class="input-group-btn">
                      <input class="form-control" name='search' placeholder='Найти товар' type='text'></input>
                      <button style="padding-bottom: 7px" class="btn btn-default">
                        <div class="search-icon"></div>
                      </button>
                    </span>
                  </form>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href='/cart'><span id="vue--header-cart">Корзина</span></a></li>
                {{#if loggedIn}}
                  <li><a href="/signout">Выйти</a></li>
                {{else}}
                  <li class='popup-holder'>
                    <a class='popup-control' href="#signin">Войти</a>
                    <div class='popup popup--signin hide'>
                      {{>signin }}
                    </div>
                  </li>
                {{/if}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="body">
      <!--
        Flash messages allow you to display once-off status messages to users, e.g. form
        validation errors, success messages, etc
      -->
      {{#if messages}}
      <div id="flash-messages" class="container">
        {{#if messages.info}}
        <div class="alert alert-info">
            {{{flashMessages messages.info}}}
        </div>
        {{/if}}
        {{#if messages.success}}
        <div class="alert alert-success">
            {{{flashMessages messages.success}}}
        </div>
        {{/if}}
        {{#if messages.warning}}
        <div class="alert alert-warning">
            {{{flashMessages messages.warning}}}
        </div>
        {{/if}}
        {{#if messages.error}}
          <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
            <div class="modal-dialog" role="document">
              <div class="modal-content alert alert-danger">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">Ошибка</h4>
                </div>
                <div class="modal-body">
                    {{{flashMessages messages.error}}}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                </div>
              </div>
            </div>
          </div>
        {{/if}}
      </div>
      {{/if}}
      <!-- The content block should contain the body of your template's content-->
      {{{body}}}
    </div>
    <div class="container">
      <div id="footer">
      </div>
    </div>

    <script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
    <script src="/js/addtocart.js"></script>
    <script src="/js/header-cart.js"></script>
    <script>$(window).load(function() { $('#myModal').modal('show'); });</script>
    {{{isAdminEditorJS user}}}
        <script src="/js/signin-popup.js"></script>
  </body>
</html>
