{{!< default}}
<div class="container">
    <div class='row'>
        <div class='col-xs-12'>
            <div class='good card'>
                {{#if isEmpty}}
                    <div class='lead'>Ваша корзина пуста.</div>
                {{else}}
                    <h2>Ваш заказ</h2>
                    <table class='cart-list table table-hover'>
                      <thead>
                        <tr>
                          <th>
                            Наименование
                          </th>
                          <th>
                            Количество
                          </th>
                          <th>
                            Цена, руб.
                          </th>
                        </tr>
                      </thead>
                        {{#each items }}
                            <tr>
                                <td>
                                    <a href="/goods/{{goodData._id}}">{{ goodData.name }}</a>
                                </td>
                                <td>
                                    {{ qty }}
                                </td>
                                <td>
                                    user cat
                                    {{ goodData.prices.retail }}
                                </td>
                            </tr>
                        {{/each}}
                    </table>
                    <form method='post'>
                      <div class='form-group' style='margin-top: 20px;' >
                        <label>Комментарий к заказу:</label>
                        <textarea class='form-control' name='comment'></textarea>
                      </div>
                      <div class='input-group-btn'>
                          <input type='hidden' name='action' value='checkout'>
                          <button type="submit" class='btn btn-default order__btn checkout__btn'>
                              Оформить заказ
                          </button>
                      </div>
                    </form>
                {{/if}}
            </div>
        </div>
    </div>
</div>
