{{!< default}}
<div class='snipcart-categories container' style='padding-left: 20px; padding-right: 20px;'>
    <div class='row'>
        <div class='col-xs-12'>
            <div class='good card'>
                <div class='row'>
                    <div class='col-sm-6 good__thumb'>
                        <img src='{{ good.img.[0] }}' />
                    </div>
                    <div class='col-sm-6 good__desc'>
                        <div class='row good__desc__body'>
                            <div class='col-xs-12 good__desc'>
                                <h2 class='good__desc__title'>{{ good.name }}</h2>
                                <div class='good__desc__text'>{{ good.desc }}</div>
                                {{#if user}}
                                    <form class='order input-group' method='post'>
                                        <input type='number' value='1' class="form-control"></input>
                                        <div class='input-group-btn'>
                                            <input type='hidden' name='action' value='add-to-cart'>
                                            <button type="submit" class='btn btn-default order__btn'>
                                                Добавить к заказу
                                            </button>
                                        </div>
                                    </form>
                                {{else}}
                                    <div calss='login-invite'>
                                        <a href='/signin'>Войдите</a>
                                        или
                                        <a href='/signup'>зарегистрируйтесь</a>,
                                        чтобы оформить заказ.
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                        <div class='row good-avail'>
                            <div class='col-xs-12'>
                                <h3 class='good-avail__title'>Товар в наличии в магазинах</h3>
                                <table class='good-avail__list'>
                            		{{#each present }}
                                        <tr class='good-avail__list__item'>
                                            <td>
                                                <a href='/shops/{{ shopData._id }}'>{{ shopData.address }}</a>
                                            </td>
                                            <td class='good-avail__list__qty'>
                                                {{ qty }} ед.
                                            </td>
                                        </tr>
                                    {{/each}}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> category parentCategory}}
</div>
