{{!< default}}
<div class="container">
	<div>
        <div>
            <div style='height: 400px;' id="mapid"></div>
        </div>
        <div class='snipcart-categories row' style='padding: 20px; margin-top: 20px;'>
            <h2>Товары</h2>
    		{{#each goodsByCategory }}
                <div class='col-xs-4'>
                    <a class='card row no-gutter' href='/pricelist?category={{ _id }}' style='margin: inherit; margin-top: 20px;'>
                        <!-- {{ 'cat link' }} -->
                        <img class='col-xs-4' src='{{ itemImg.[0] }}' style='max-height: 100px; width: auto;'/>
                        <div class='col-xs-8'>
                            <h3>{{ _id }}</h3>
                            {{ itemName }} и {{ count }} других товаров
                            от {{ minPrice }} руб.
                        </div>
                    </a>
                </div>
            {{/each}}
        </div>
	</div>
  <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
  <script>
      var mymap = L.map('mapid').setView([55.7558, 37.6173], 10);
      L.tileLayer('https://api.mapbox.com/styles/v1/klepov/ciuo3rqmf00g62inogy2c5v2v/tiles/256/{z}/{x}/{y}?access_token={accessToken}', {
        maxZoom: 18,
        accessToken: 'pk.eyJ1Ijoia2xlcG92IiwiYSI6ImNpanZvOTZ0ajAwNGl3OGphcnQwdzVweG4ifQ.jCM8K6R_MxlX92wgz0IMqw'
      }).addTo(mymap);
      var shops = [
        {{#each shops}}
          {
            coords: "{{ coords }}".split(',').map(Number),
            address: "{{ address }}",
            href: "/shops/{{ _id }}",
            desc: "{{ desc }}"
          },
        {{/each }}
      ];
      shops.forEach(function(shop) {
        var marker = L.marker(shop.coords).addTo(mymap);
        marker.bindPopup("<a href='" + shop.href + "'>" + shop.address + "</a>");
      });
  </script>
</div>
