{{!< default}}
<div class="container">
	<div class="jumbotron">
        <div>
            <h2>Наши магазины</h2>
            <ul>
        		{{#each shops }}
                    <li>{{ address }}</li>
                {{/each}}
            </ul>
        </div>
        <div>
            <h2>Товары</h2>
            <ul>
        		{{#each goods }}
                    <li>
                        <img src='{{ img.[0] }}' />
                        <h3>{{ name }}</h3>
                        {{ desc }}
                        {{ prices.cat1 }} руб.
                    </li>
                {{/each}}
            </ul>
        </div>
	</div>
</div>
