{{!< default}}
<div class="container">
    <div>
        <div>
            <div style='height: 400px;' id="mapid"></div>
        </div>
        {{#each goodsByCategory }}
            <div class='cat-promo row'>
                <div class='col-xs-6'>
                    <a class='card cat-promo__main' href='/pricelist?category={{ _id }}'>
                        <h1 class='cat-promo__title'>{{ _id }}</h1>
                        <div class='cat-promo__details'>
                            {{ count }} товаров от {{ minPrice }} руб.
                        </div>
                    </a>
                    <div class='row'>
                        <div class='col-xs-6'>
                            {{>card product=items.[0]}}
                        </div>
                        <div class='col-xs-6'>
                            {{>card product=items.[1]}}
                        </div>
                    </div>
                </div>
                <div class='col-xs-3'>
                    {{>card product=items.[2] extend="double"}}
                </div>
                <div class='col-xs-3'>
                    {{>card product=items.[3]}}
                    {{>card product=items.[4]}}
                </div>
            </div>
        {{/each}}
    </div>

  <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
  <script>
      var mymap = L.map('mapid').setView([55.7558, 37.6173], 10);
      L.tileLayer('https://api.mapbox.com/styles/v1/klepov/ciuo3rqmf00g62inogy2c5v2v/tiles/256/{z}/{x}/{y}?access_token={accessToken}', {
        maxZoom: 18,
        accessToken: 'pk.eyJ1Ijoia2xlcG92IiwiYSI6ImNpanZvOTZ0ajAwNGl3OGphcnQwdzVweG4ifQ.jCM8K6R_MxlX92wgz0IMqw'
      }).addTo(mymap);
      var shops = [
        {{#each shops}}
          {
            coords: [{{lat}}, {{lon}}],
            address: "{{ address }}",
            href: "/shops/{{ _id }}",
            desc: "{{ name }} ({{ type }})"
          },
        {{/each }}
      ];
      shops.forEach(function(shop) {
        var marker = L.marker(shop.coords).addTo(mymap);
        marker.bindPopup("<a href='" + shop.href + "'>" + shop.address + "</a>");
      });
  </script>

</div>
