{{!< default}}
<div class="container">
	<div class="jumbotron">
        <div>
            <h2>Наши магазины</h2>
            <ul>
        		{{#each shops }}
                    <li><a href='/shops/{{ _id }}'>{{ address }}</a></li>
                {{/each}}
            </ul>
        </div>
        <div>
            <h2>Товары</h2>
            <ul class='row'>
        		{{#each goods }}
                    <li class='col-xs-4'>
                        <a href='/goods/{{ _id }}'>
                            <img src='{{ img.[0] }}' />
                            <h3>{{ name }}</h3>
                            {{ desc }}
                            {{ prices.cat1 }} руб.
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
	</div>
</div>
