{{!< default}}
<div class="container">
	<div>
        <div>
            <h2>Наши магазины</h2>
            <ul>
        		{{#each shops }}
                    <li><a href='/shops/{{ _id }}'>{{ address }}</a></li>
                {{/each}}
            </ul>
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=uSqA7iG3iZLEEYEEATgo8jiPNUYIfK4b&amp;width=100%&amp;height=493&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
        </div>
        <div class='snipcart-categories' style='padding: 20px; margin-top: 20px;'>
            <h2>Товары</h2>
    		{{#each goodsByCategory }}
                <div class='snipcart-item block'>
                    <a href='/pricelist?category={{ _id }}'>
                        <!-- {{ 'cat link' }} -->
                        <img src='{{ itemImg.[0] }}' />
                        <h3>{{ _id }}</h3>
                        {{ itemName }} и {{ count }} других товаров
                        от {{ minPrice }} руб.
                    </a>
                </div>
            {{/each}}
        </div>
	</div>
</div>
