{{!< default}}
<div class="container">
	<div class="jumbotron">
        <div>
            <h2>Магазин по адресу {{ shop.address }}</h2>
            <div>
                {{ shop.desc }}
            </div>
        </div>
        <div>
            <h2>Товары</h2>
            <ul>
        		{{#each goods }}
                    <li>
                        <img src='{{ img.[0] }}' />
                        <h3>{{ name }}</h3>
                        {{ desc }}
                        {{ prices.cat1 }} руб.
                    </li>
                {{/each}}
            </ul>
        </div>
	</div>
</div>
