<a href='/goods/{{ product._id }}' class='card card--{{extend}}'>
    <img class='card__thumb card__thumb--{{extend}}' src='{{ product.img }}'>
    <div class='card__content card__content--{{extend}}'>
        <h1 class='card__title'>{{ product.name }}</h1>
        <span class='card__price'>{{ product.prices.cat1 }} руб</span>
        <span class='btn card__btn'>Купить</span>
    </div>
</a>
