<a href='/goods/{{ product._id }}' class='card {{extend}}'>
    <img class='card__thumb' src='{{ product.img }}'>
    <div class='card__content'>
        <h1 class='card__title'>{{ product.name }}</h1>
        <span class='card__price'>{{ product.prices.cat1 }} руб</span>
        <span class='btn card__btn'>Купить</span>
    </div>
</a>
